<h3>Elija que acción desea realizar</h3>
<h3><a class="btn btn-secondary" href="/router/ciudades24horas"> Consultar estaciones por ciudad (24horas al día)</a></h3>
<h3><a class="btn btn-secondary" href="/router/estacionesPublicas"> Consultar estaciones publicas</a></h3>
<h3><a class="btn btn-secondary" href="/router"> Consultar estaciones privadas</a></h3>